.game-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
}
#quit {
    position: absolute;
    right: 32px;
}
.score-token {
    height: 20px;
    width: 20px;
}
.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    background: rgba(0,0,0,0.1);
}
.score > * {
    margin: 0 4px;
}
.game-over-banner {
    width: 100%;
    background: rgba(0,0,0,0.1);
    padding-bottom: 16px;
    margin-bottom: 16px;
}
.game-title {
    margin-right: 8px;
}
.game-messages-container {
    width: 400px;
    margin: 0 36px;
}
.game-messages {
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
}

.board-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 32px 100px 32px;
}

.board-container {
    justify-content: center;
    align-items: center;
}

table#game_board {
    border: 2px solid black;
    padding: 0px;
    overflow-x: auto;
    background: rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
    
}

table#game_board td {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

td.hovered_over {
    background-color: rgba(255,255,255,0);
    animation: playable 3s infinite ease-in-out;
}

td.hovered_over:hover {
    animation: 0;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

@keyframes playable {
    0% {background-color: rgba(255,255,255,0);}
    50% {background-color: rgba(255,255,255,0.3);}
    100% {background-color: rgba(255,255,255,0);}
}

@keyframes hoverPlayable {
    background-color: rgba(255,255,255,0.);
}


progress {
    /* RESETS */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.15);
    color: #000;
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.15);

}

progress::-webkit-progress-value {
    background-color: #000;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
    background-color: #000;

}

.progress-extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#time_elapsed {
    align-self: flex-start;
}
.turn {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .board-wrapper {
        flex-direction: column;
    }
    .game-messages-container {
        width: 100%;
        margin: 0;
    }
    #quit {
        position: relative;
        right: auto;
        left: auto;
    }
}
