html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
body {
    font-size: 1rem;
    color: #000;
    margin: 0;
}

/* Purple */
.purple {
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

/* Light Blue */
.blue {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}

/* Green */
.green {
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Tangerine */
.orange {
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.row {
    margin: 32px 0;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav > a {
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    transition: background-color 0.5s ease;
}

.nav > a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1) !important;

}

.title {
    font-size: 8rem;
    background: linear-gradient(45deg, #000 60%, #FFF 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-name {
    margin: auto;
}

input {
    font-size: 1.25rem;
    text-align: center;
}

input::placeholder{
    text-align:center;
  }

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}

.input-label {

}

.input-text {
    padding: 16px 24px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
}

.btn-input {
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 50px;
    border: none;
    background: #000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    text-decoration: none;
}

.btn-input:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.align-left {
    text-align: left;
}

#messages {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.messages-container {
    width: 600px;
    flex-grow: 4;
    margin: 0 36px;
}
.messages {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.15);
    position: relative;
}

.message-input {
    display: flex;
    flex-direction: row;
    bottom: -48px;
    position: absolute;
    width: 100%;
    border: none;
}

.message-input > button {
    height: 48px;
    border-radius: 0;
}

.message-input > input {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    padding: 8px;
}
.message-input > input::placeholder {
    text-align: left;
}

.chat_message, .join_room_response, .left_room_response {
    margin: 16px;
}

.lobby-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 36px;
}

.players-container {
    flex-grow: 1;
}

.player-group {
    display: flex;
    flex-direction: row;
}

.text-start {
    text-align: left;
    margin-right: 8px;
}

.text-end {
    text-align: right;
}

.btn-invite {
    border: none;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    background: transparent;
    padding: 4px 8px;
    border: 1px solid black;
}

.btn-invite:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    cursor: pointer;
}

@media (max-width: 768px) {
    .title {
        font-size: 6rem;
    }
    .input-group {
        width: 80vw;
    }

    .home-img {
        width:100%;
        height: auto;
    }
    .lobby-wrapper {
        flex-direction: column;
    }
    .messages-container {
        margin: 0;
        width: 100%;
    }
     
}