html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}
body {
    font-size: 1rem;
    color: #000;
    margin: 0;
    background-image:#ff0000;
    background-image:  
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 50%),  
    radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%);
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
}

.row {
    margin: 32px 0;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav > .btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    background: none;
    border: none;
    transition: background-color 0.5s ease;
}

.nav > .btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1) !important;

}

.title {
    font-size: 8rem;
    background: linear-gradient(45deg, #000 60%, #FFF 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.display-name {
    margin: auto;
}

input {
    font-size: 1.25rem;
    text-align: center;
}

input::placeholder{
    text-align:center;
  }

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}

@media (max-width: 768px) {
    .title {
        font-size: 6rem;
    }
    .input-group {
        width: 80vw;
    }
     
}

.input-label {

}

.input-text {
    padding: 16px 24px;
    border-radius: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
}

.btn-input {
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 50px;
    margin-left: -1px;
    border: none;
    background: #000;
    border: 1px solid #000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

.btn-input:hover {
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 50px;
    margin-left: -1px;
    border: 1px solid #000;;
    background-color: transparent;
    color: black;
    cursor: pointer;
}